In [1]:
##handling imbalance dataset
##1->upsampling
##2->downsampling

In [4]:
import pandas as pd
import numpy as np

np.random.seed(123)
n_subsample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_subsample * class_0_ratio)
n_class_1 = n_subsample - n_class_0

In [5]:
n_class_0, n_class_1

(900, 100)

In [6]:
##create a dataframe
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale= 1,size= n_class_0),
    'feature_2': np.random.normal(loc=0,scale= 1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1= pd.DataFrame({
    'feature_1': np.random.normal(loc=1,scale= 1,size= n_class_1),
    'feature_2': np.random.normal(loc=1,scale= 1, size=n_class_1),
    'target': [1] * n_class_1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [11]:
df.tail()

     feature_1  feature_2  target
995   0.376371   1.845701       1
996   1.239810  -0.119923       1
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

In [12]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [13]:
##upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [15]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,
                                  replace=True, # sample with replacement
                                  n_samples=len(df_majority), # to match majority class
                                  random_state=42) # reproducible results

In [16]:
df_minority_upsampled.shape

(900, 3)

In [17]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64