In [ ]:
#SQL is a language for interacting with relational databases, while SQLite is a lightweight, serverless database engine that uses SQL and stores data in a single file.

In [1]:
import sqlite3

In [2]:
connection =sqlite3.connect('example.db')
connection

In [4]:
#create cursor
cursor=connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not Exists employee(
               id Integer Primary key,
               name Text Not NULL,
               age Integer,
               department text
               )
''')

In [5]:
connection.commit()

In [6]:
#insert data in table
cursor.execute('''
INSERT INTO employee(name,age,department)
               VALUES('Bob',25,'Engineering')
''')

In [19]:
cursor.execute('''
INSERT INTO employee(name,age,department)
               VALUES('kavi',25,'Engineering')
''')

In [8]:
connection.commit()

In [6]:
#query 
cursor.execute('select * from employee')
rows=cursor.fetchall()
for row in rows:
      print(row)

(1, 'Bob', 34, 'Engineering')

In [17]:
#update 
cursor.execute('''
update employee
               set age=34
               where name="Bob"
''')
connection.commit()

In [20]:

cursor.execute('select * from employee')
rows=cursor.fetchall()
for row in rows:
      print(row)

(1, 'Bob', 34, 'Engineering')
(2, 'kavi', 25, 'Engineering')

In [23]:
#delete data for sqlite
cursor.execute('''
Delete from employee
               where name ="Bob"''')

In [7]:
cursor.execute('select * from employee')
rows=cursor.fetchall()
for row in rows:
      print(row)

(1, 'Bob', 34, 'Engineering')