# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [4]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print("original dataframe: ")
print(df)
df.set_index('A',inplace=True)
print("new df:")
print(df)

original dataframe:
    A   B   C   D
0  51  47  99  75
1  72  40   3  46
2  91  69  33  59
3  56  46  82  17
4  33  82  32  62
5  36  44  12  11
new df:
     B   C   D
A
51  47  99  75
72  40   3  46
91  69  33  59
56  46  82  17
33  82  32  62
36  44  12  11

In [8]:
#Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
df=pd.DataFrame(np.random.randint(1,10,size=(3,3)),columns=['A','B','C'],index=['X', 'Y', 'Z'])
print(df)
element=df.at['Y','B']
print(element)

   A  B  C
X  8  3  7
Y  5  1  8
Z  9  4  1
1

In [12]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
df=pd.DataFrame(np.random.randint(1,20,size=(5,3)),columns=['A','B','C'])
print(df)
df['D']=df['B']*df['C']
print("new df")
print(df)

    A   B   C
0   9  17   8
1   7   8  12
2  11  16   9
3   4   8   5
4   9  18  16
new df
    A   B   C    D
0   9  17   8  136
1   7   8  12   96
2  11  16   9  144
3   4   8   5   40
4   9  18  16  288

In [16]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df=pd.DataFrame(np.random.randint(1,20,size=(4,3)),columns=['A','B','C'],index=['a','b','c','d'])
print(df)
row_sum=df.sum(axis=1)
col_sum=df.sum(axis=0)
print(row_sum)
print("col")
print(col_sum)

    A   B   C
a  12  11   1
b  15   6   9
c   9   6   8
d  10  19  14
a    24
b    30
c    23
d    43
dtype: int64
col
A    46
B    42
C    32
dtype: int64

In [6]:
import numpy as np
import pandas as pd
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
df=pd.DataFrame(np.random.randint(1,21,size=(5,3)),columns=['A','B','C'])
print(df)
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
df.iloc[4,1]=np.nan
print("Dataframe with NAN")
print(df)
df.fillna(df.mean(),inplace=True)
print("Dataframe with nan value filled: ")
print(df)

    A   B   C
0   8   8   1
1  19   9   9
2  17  12   6
3  13  15  12
4   7  14   4
Dataframe with NAN
      A     B     C
0   8.0   NaN   1.0
1  19.0   9.0   9.0
2  17.0  12.0   NaN
3  13.0  15.0  12.0
4   NaN   NaN   4.0
Dataframe with nan value filled:
       A     B     C
0   8.00  12.0   1.0
1  19.00   9.0   9.0
2  17.00  12.0   6.5
3  13.00  15.0  12.0
4  14.25  12.0   4.0

In [9]:
#Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
df=pd.DataFrame(np.random.randint(1,21,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.iloc[0,2]=np.nan
df.iloc[2,1]=np.nan
print("print df with nan",df)
df.dropna(inplace=True)
print("Dataframe with nan values dropped: ")
print(df)

    A   B   C   D
0   5   7  11   4
1  18  14  12  16
2   6   6   3  10
3   7  19  16   2
4  16   5   1  16
5  12   3  12   2
print df with nan     A     B     C   D
0   5   7.0   NaN   4
1  18  14.0  12.0  16
2   6   NaN   3.0  10
3   7  19.0  16.0   2
4  16   5.0   1.0  16
5  12   3.0  12.0   2
Dataframe with nan values dropped:
    A     B     C   D
1  18  14.0  12.0  16
3   7  19.0  16.0   2
4  16   5.0   1.0  16
5  12   3.0  12.0   2

In [13]:
#Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
df=pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'value':np.random.randint(1,100,size=10)})
print("original dataframe")
print(df)
grouped = df.groupby('Category')['value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

original dataframe
  Category  value
0        C     58
1        A     58
2        B     92
3        A     33
4        C      8
5        C     49
6        A     59
7        A     70
8        A     21
9        B      1
Grouped DataFrame:
          sum       mean
Category
A         241  48.200000
B          93  46.500000
C         115  38.333333